
@charset "UTF-8";

@font-face {
    font-family: 'Cafe24Dongdong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Dongdong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
body{
	font-family: LotteMartDream;
}
.bottom {
	background-color: #333333;
	height: 200px;
}
.bottomitems{
	padding-top: 50px;
}
.bottom a{
	color : white;
}
.bottom p{
	font-size: 0.75rem;
}
.loginpage a{
	color : #3f7d1b;
}
.sidead {
  z-index: 1000;
  position: fixed;
  top: 200px;
  left: 20px;
  margin-left: 0;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidead.toggled {
  margin-left: -250px;
}

/* 채팅창  */
	#msgbox{
		height: 600px;
		background: #b2c7d9;
		margin-bottom: 10px;
		border: 1px solid #eeeeee;
		border-radius: 30px;
		overflow: auto; /* 내용물이 넘치면 스크롤을 만들어줌 */
		/* ie and edge 스크롤 숨기기 */
		-ms-overflow-style : none;
	}
	/* 스크롤 표시 숨기기 : 브라우저 마다 다름 */
	#msgbox::-webkit-scrollbar{ /* 크롬 , 사파리 등 */
		display: none;
	}

	.from{
		font-size : 1.0rem;
		background: #ffeb33;
		border-radius: 10px;
		padding: 10px;	
	}
	.msgtime{
		font-size: 0.8rem;
	}
	.to{
		font-size : 1.0rem;
		background: white;
		border-radius: 10px;
		padding: 10px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	